.news-article-img{
    height: 230px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    width: 345px;
}
.news-article-card{
    width: 350px;
    border:1px solid  rgb(255, 221, 146);
    border-radius: 5px;
    box-shadow: 0 0 15px 4px rgb(80, 55, 18);
    padding: 10px;
    margin: 25px;
    background-color: rgb(255, 221, 146);
}
.article-title{
    font-size: 22px;
}
.article-info{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-style: italic;
}
.read-btn{
    background-color:black;
    color: white;
    padding: 4px 7px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}